* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.botton{
 color: rgba(23, 53, 83, 0.912);
 font-family:'Times New Roman', Times, serif;
 background-color: rgb(65, 227, 173);
 width: 300px;
 height: 45px;
 padding: 4px;
 margin: 50px;
 font-size: 30px;
 border: solid 2px #66424243;
 box-shadow: 4px 8px 4px rgba(6, 177, 120, 0.71);
}